<?xml version="1.0" encoding="utf-8"?>
<uexplugins>
	<plugin
        className="org.zywx.wbpalmstar.plugin.uexprogressview.EUExProgressView"
        uexName="uexProgressView" >
        <method name="open" />
        <method name="setProgress" />
        <method name="close" />
    </plugin>
</uexplugins>